<configuration>

  <!-- prevent per-message overhead for jul logging calls, e.g. Hornet -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
    <prudent>true</prudent> <!-- multi jvm safe, slower -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <logger name="datomic.cast2slf4j" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log storage access -->
   <logger name="datomic.kv-cluster" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log transactor heartbeat -->
   <logger name="datomic.lifecycle" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log transactions (transactor side) -->
   <logger name="datomic.transaction" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log transactions (peer side) -->
   <logger name="datomic.peer" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log the transactor log -->
   <logger name="datomic.log" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log peer connection to transactor -->
   <logger name="datomic.connector" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log storage gc -->
   <logger name="datomic.garbage" level="${LOG_LEVEL:-INFO}"/>

  <!-- uncomment to log indexing jobs -->
   <logger name="datomic.index" level="${LOG_LEVEL:-INFO}"/>

  <!-- these namespsaces create a ton of log noise -->
  <logger name="org.apache.activemq.audit" level="${LOG_LEVEL:-WARN}"/>
  <logger name="httpclient" level="${LOG_LEVEL:-INFO}"/>
  <logger name="org.apache.commons.httpclient" level="${LOG_LEVEL:-INFO}"/>
  <logger name="org.apache.http" level="${LOG_LEVEL:-INFO}"/>
  <logger name="org.jets3t" level="${LOG_LEVEL:-INFO}"/>
  <logger name="com.amazonaws" level="${LOG_LEVEL:-INFO}"/>
  <logger name="com.amazonaws.request" level="${LOG_LEVEL:-WARN}"/>
  <logger name="sun.rmi" level="${LOG_LEVEL:-INFO}"/>
  <logger name="datomic.spy.memcached" level="${LOG_LEVEL:-INFO}"/>
  <logger name="com.couchbase.client" level="${LOG_LEVEL:-INFO}"/>
  <logger name="com.ning.http.client.providers.netty" level="${LOG_LEVEL:-INFO}"/>
  <logger name="org.eclipse.jetty" level="${LOG_LEVEL:-INFO}"/>
  <logger name="org.hornetq.core.client.impl" level="${LOG_LEVEL:-INFO}"/>
  <logger name="org.apache.tomcat.jdbc.pool" level="${LOG_LEVEL:-INFO}"/>

  <logger name="datomic.cast2slf4j" level="${LOG_LEVEL:-INFO}"/>

  <root level="info">
    <appender-ref ref="MAIN"/>
  </root>
</configuration>
